.App {
  /* overflow: hidden; */
  text-align: center;
  white-space: initial;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  width: 200px;
  height: 50px;
  background-color: #61dafb;
  cursor: pointer;
  font-weight: 900;
  border-radius: 4px;
  font-size: larger;
}

input {
  width: 100px;
  height: 45px;
  margin: 1%;
  font-size: larger;
}

.label {
  font-size: larger;
}

form {
  border: 0 0 2px 0 solid black;
  width: 100%;
}

.text-area {
  width: 100%;
  text-align: center;
  border: 2px solid black;
  white-space: initial;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 2%;
  background-color: lightblue;
}
